<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.kaiyun.androiddemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionbar">
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.RegisteredActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.student.ResumeEditActivity" />
        <activity android:name=".ui.company.CompanyMainActivity" />
        <activity
            android:name=".ui.student.JobListActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.student.JobInfoActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.company.JobStudentActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.company.StudentInfoActivity"
            android:theme="@style/AppTheme"
            />
    </application>

</manifest>