<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.CompanyDao" >
  <!--<resultMap id="BaseResultMap" type="com.example.demo.entity.Company" >-->
    <!--&lt;!&ndash;-->
      <!--WARNING - @mbg.generated-->
    <!--&ndash;&gt;-->
    <!--<id column="id" property="id" jdbcType="INTEGER" />-->
    <!--<result column="name" property="name" jdbcType="VARCHAR" />-->
    <!--<result column="introduce" property="introduce" jdbcType="VARCHAR" />-->
    <!--<result column="HR" property="hr" jdbcType="VARCHAR" />-->
    <!--<result column="number" property="number" jdbcType="VARCHAR" />-->
    <!--<result column="address" property="address" jdbcType="VARCHAR" />-->
  <!--<result column="email" property="email" jdbcType="VARCHAR" />-->
  <!--</resultMap>-->


  <select id="queryCompany" resultType="com.example.demo.entity.Company">
    SELECT *
    FROM company
  </select>
  <select id="queryCompanyById" resultType="com.example.demo.entity.Company">
    SELECT *
    FROM company
    WHERE
    id=#{id}
  </select>
  <insert id="insertCompany" useGeneratedKeys="true" keyProperty="id"
          keyColumn="id" parameterType="com.example.demo.entity.Company">
    INSERT INTO
    company(name,introduce,HR,number,address,email)
    VALUES
    (#{name},#{introduce},#{HR},#{number},#{address},#{email})
  </insert>
  <update id="updateCompany" parameterType="com.example.demo.entity.Company">
    update company
    <set>
      <if test="name != null">name=#{name},</if>
      <if test="introduce != null">introduce=#{introduce},</if>
      <if test="HR != null">HR=#{HR},</if>
      <if test="number != null">number=#{number},</if>
      <if test="address != address">address=#{address},</if>
      <if test="email != email">email=#{email}</if>
    </set>
    where id=#{id}
  </update>
  <delete id="deleteCompany">
    DELETE FROM
    company
    WHERE
    id =
    #{id}
  </delete>
</mapper>